@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@300&display=swap');
@keyframes pisca {
    0% {opacity: 0.2;}
    50% {opacity: 1;}
    100% {opacity: 0.2;}
}

* {
    margin: 0;
    padding: 0;
    box-sizing: 0;
    text-decoration: 0;
    font-family: 'Nunito';
}
span{
    color: rebeccapurple;
}
h2{
    text-align: center;
    font-size: 50px;
    color: white;
}
p{
    font-size: 25px;
    text-align: center;
    color: white
}
span{
    font-size: 30px;
    color: blue;
    text-align: center;
}
body{
    background-color: blue;
}


.max-width{
    max-width: 1300px;
    padding: 0 0px;
    margin: auto;
}
/*MENU*/
.navigation {
    position: fixed;
    top: 20px;
    right: 20px;
    width: 120px;
    height: 60px;
    background: white;
    box-shadow: 0 25px 35px rgba(0, 0, 0, 0.1);
    display: flex;
    justify-content: space-between;
    transition: height 0.5s, width 0.5s;
    transition-delay: 0s, 0.75s;
    overflow: hidden;
    z-index: 999;
}
.navigation.active{
    width: 300px;
    height: 400px;
    transition: width 0.5s, height 0.5s;
    transition-delay: 0s,0.75s;
}
.navigation .userBx {
    position: relative;
    width: 60px;
    height: 60px;
    background: white;
    overflow: hidden;
    display: flex;
    align-items: center;
    transition: 0.5s;
    transition-delay: 0.5s;
}
.navigation.active .userBx {
    width: calc(100% - 60px);
    transition-delay: 0s;
}
.navigation .userBx .username {
    white-space: nowrap;
    color: #555;
    font-size: 1.1em;
}
.navigation .userBx .imgBx{
    position: relative;
    min-width: 40px;
    height: 40px;
    overflow: hidden;
    background: black;
    border-radius: 50%;
    border: 10px solid white;
}
.navigation .userBx .imgBx img{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.navigation .menuToggle{
    position: relative;
    width: 60px;
    height: 60px;
    background: white;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
}
.navigation .menuToggle::before{
    content: '';
    position: absolute;
    width: 32px;
    height: 2px;
    background: #555;
    transform: translateY(-10px);
    box-shadow: 0 10px #555;
    transition: 0.5s;
}
.navigation .menuToggle::after{
    content: '';
    position: absolute;
    width: 32px;
    height: 2px;
    background: #555;
    transform: translateY(10px);
    transition: 0.5s;
}
.navigation.active .menuToggle::before{
    transform: translateY(0px) rotate(45deg);
    box-shadow: 0 0 #555;
}    
.navigation.active .menuToggle::after{
    transform: translateY(0px) rotate(-45deg);
}
.menu{
    position: absolute;
    width: 100%;
    height: calc(100% - 60px);
    margin-top: 60px;
    padding: 20px;
    border-top: 1px solid rgba(0,0,0,0.1);
}
.menu li {
    list-style: none;
}
.menu li a {
    display: flex;
    align-items: center;
    gap: 10px;
    margin: 20px 0;
    font-size: 1em;
    text-decoration: none;
    color: #555;
}
.menu li a:hover {
    color: blue;
}
/*MENU*/
/*HOME*/
.home{
    display: flex;
    background-color: white;
}
.home .container {
    margin: 0px auto;
    display: flex;
    align-items: center;
    background-attachment: fixed;
}
.home .container h3{
    text-align: center;
    font-size: 50px;
    margin: 0 0 50px 0;
    color: #020024;

}
.home .container .home-container{
    padding: 100px 10px;
    margin: 0 auto;
    display: flex;
    align-items: center;
    flex-direction: column;
}
.home .container .home-container .perfil{
    width: 75%;
}
.home .container .img{
    width: 50px 10px;
}
/*HOME*/
/*APRESENTAÇÃO*/
.apresentacao{
    background: linear-gradient(0deg, rgba(2,0,36,1) 2%, rgba(2,0,36,1) 12%, rgba(3,2,50,1) 21%, rgba(9,15,121,1) 37%, rgba(0,212,255,1) 100%);
}
.apresentacao .container {
    padding: 100px 0; 
    display: flex;
    flex-direction: column;
    align-items: center;
}
.apresentacao .container{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.apresentacao .container .ola{
    font-size: 50px;
    margin-bottom:20px ;
    color: white;
}
.apresentacao .container p{
    text-align: center;
    width: 80%;
    color: white;
}
.apresentacao .container .box-container .box{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-around;
}
.apresentacao .container .box-container .box .column{
    background: rgba(255, 255, 255, 0.48);
border-radius: 16px;
backdrop-filter: blur(2.7px);
-webkit-backdrop-filter: blur(2.7px);
border: 1px solid rgba(255, 255, 255, 0.86);
    padding: 50px;
    margin-top: 50px;
    margin-bottom: 15px;
    margin-left: 30px;
    margin-right: 30px;
    display: flex;
    align-items: center;
    flex-direction: column;
    border-radius: 100px;
}
/*APRESENTAÇÃO*/
/*PROJETOS*/
.projetos{
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #020024;
}
.projetos .container{
    margin: 30px;
    width: 1000px;
    /* From https://css.glass */
/* From https://css.glass */
/* From https://css.glass */
background: rgba(255, 255, 255, 0.48);
border-radius: 16px;
box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
backdrop-filter: blur(2.7px);
-webkit-backdrop-filter: blur(2.7px);
border: 1px solid rgba(255, 255, 255, 0.86);

}
.projetos .container .container-projetos .card-projetos{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-around;
}

.projetos .container .container-projetos .card{
    padding: 100px;
    margin-top: 50px;
    margin-bottom: 50px;
}
.projetos .container h2{
    padding-top: 50px;
}
.projetos .container p{
    margin: 0 50px;
}
.projetos .container .contato{
    flex-direction: column;
    display: flex;
    justify-content: center;
    padding-bottom: 100px;
    align-items: center;

    /* From https://css.glass */
/* From https://css.glass */
/* From https://css.glass */

}
.projetos .container .contato button{
    width: 200px;
    font-size: 20px;
    padding: 30px;
    margin-top: 30px;
    background: rgba( 255, 255, 255, 0.3 );
    background: rgba( 255, 255, 255, 0.2 );
    box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
    backdrop-filter: blur( 15px );
    -webkit-backdrop-filter: blur( 15px );
    border-radius: 10px;
    border: 1px solid rgba( 255, 255, 255, 0.18 );
    cursor: pointer;
    color: white;
}
footer{
    padding: 40px;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #020024;
}
footer .icons{
    margin: 10px 0 10px 0;
}
footer .icons .bi{
    margin-left: 10px;
    color: white;
    cursor: pointer;
}

.urna {
    background-color: #dbd5c9;
    padding: 20px;
    display: flex;
    width: 100%;
    margin: 10px;
}

.tela {
    width: 500px;
    height: 320px;
    background: linear-gradient(to right, #E8E8E8,#C1C1C1);
    border: 2px solid #555;
    display: flex;
    flex-direction: column;
}

.teclado {
    margin-left: 30px;
    background-color: #403A3A;
}

.teclado--linha {
    display: flex;
    justify-content: center;
    align-items: center;
}

.teclado--botao {
    width: 70px;
    height: 40px;
    background-color: #000;
    color: #fff;
    font-size: 25px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 10px;
    cursor: pointer;
    box-shadow: 3px 3px 0px #555;
}
.botao--branco {
    background-color: #fff;
    color: #000;
    font-size: 15px;
}
.botao--corrige {
    background-color: #F09046;
    color: #000;
    font-size: 15px;
}
.botao--confirma {
    background-color: #48C079;
    color: #000;
    font-size: 15px;
    width: 90px;
    height: 50px;
}

.d-1 {
    flex: 1;
    display: flex;
}
.d-1-left{
    flex: 1;
    display: flex;
    flex-direction: column;
    padding-left: 20px;
}
.d-1-1 {
    height: 50px;
    display: flex;
    align-items: center;
}
.d-1-2 {
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.d-1-3 {
    height: 50px;
}
.numero {
    display: inline-block;
    width: 30px;
    height: 40px;
    border: 1px solid #000;
    text-align: center;
    line-height: 40px;
    font-size: 25px;
}
.pisca {
    animation-name: pisca;
    animation-duration: 1s;
    animation-iteration-count: infinite;
}
.d-1-4 {
    flex: 1;
    line-height: 30px;
}
.d-1-right {
    width: 90px;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}
.d-1-image{
    border: 1px solid #000;
    background-color: #fff;
    text-align: center;
    font-size: 14px;
}
.d-1-image img {
    width: 100%;
}
.d-1-image.small {
    width: 70%;
    font-size: 12px;
}

.d-2 {
    height: 50px;
    font-size: 14px;
    border-top: 2px solid #000;
    padding-left: 10px;
}
.aviso--grande{
    font-size: 40px;   
    font-weight: bold;
}
.aviso--gigante {
    font-size: 70px;
    font-weight: bold;
    text-align: center;
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
}