* {
    margin: 0;
    padding: 0;
    box-sizing: 0;
    text-decoration: 0;
}
.max-width{
    max-width: 1300px;
    padding: 0 80px;
    margin: auto;
}
/*MENU*/
.navigation {
    position: fixed;
    top: 20px;
    right: 20px;
    width: 120px;
    height: 60px;
    background: white;
    box-shadow: 0 25px 35px rgba(0, 0, 0, 0.1);
    display: flex;
    justify-content: space-between;
    transition: height 0.5s, width 0.5s;
    transition-delay: 0s, 0.75s;
    overflow: hidden;
}
.navigation.active{
    width: 300px;
    height: 400px;
    transition: width 0.5s, height 0.5s;
    transition-delay: 0s,0.75s;
}
.navigation .userBx {
    position: relative;
    width: 60px;
    height: 60px;
    background: white;
    overflow: hidden;
    display: flex;
    align-items: center;
    transition: 0.5s;
    transition-delay: 0.5s;
}
.navigation.active .userBx {
    width: calc(100% - 60px);
    transition-delay: 0s;
}
.navigation .userBx .username {
    white-space: nowrap;
    color: #555;
    font-size: 1.1em;
}
.navigation .userBx .imgBx{
    position: relative;
    min-width: 40px;
    height: 40px;
    overflow: hidden;
    background: black;
    border-radius: 50%;
    border: 10px solid white;
}
.navigation .userBx .imgBx img{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.navigation .menuToggle{
    position: relative;
    width: 60px;
    height: 60px;
    background: white;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
}
.navigation .menuToggle::before{
    content: '';
    position: absolute;
    width: 32px;
    height: 2px;
    background: #555;
    transform: translateY(-10px);
    box-shadow: 0 10px #555;
    transition: 0.5s;
}
.navigation .menuToggle::after{
    content: '';
    position: absolute;
    width: 32px;
    height: 2px;
    background: #555;
    transform: translateY(10px);
    transition: 0.5s;
}
.navigation.active .menuToggle::before{
    transform: translateY(0px) rotate(45deg);
    box-shadow: 0 0 #555;
}    
.navigation.active .menuToggle::after{
    transform: translateY(0px) rotate(-45deg);
}
.menu{
    position: absolute;
    width: 100%;
    height: calc(100% - 60px);
    margin-top: 60px;
    padding: 20px;
    border-top: 1px solid rgba(0,0,0,0.1);
}
.menu li {
    list-style: none;
}
.menu li a {
    display: flex;
    align-items: center;
    gap: 10px;
    margin: 20px 0;
    font-size: 1em;
    text-decoration: none;
    color: #555;
}
.menu li a:hover {
    color: blue;
}

/*HOME*/
.home{
    display: flex;
    background: url() no-repeat center;
    height: 100vh;
    min-height: 500px;
    font-family: 'Courier New', Courier, monospace;
    background: black;
}
.home .max-width{
    margin: auto 0 auto 40px;
}
.home .home-content .text-1{
    font-size: 27px;
    color: white;
}
.home .home-content {
    transform:translateY(0px);
    animation: float 5s ease-in-out infinite;

}
.home .home-content .text-2{
    font-size: 75px;
    font-weight: 500;
    margin-left: -3px;
    color: white;
}
.home .home-content .text-3{
    font-size: 40px;
    margin: 5px 0;
    color: white;
}
.home .home-content .text-3 span {
    color: blue;
    font-weight: 500;
}
.home .home-content a {
    display: inline;
    background: blue;
    color: #fff;
    font-size: 25px;
    padding: 12px 36px;
    margin-top: 20px;
    border-radius: 6px;
    border: 2px solid blue;
}
.home .home-content a:hover{
    color: blue;
    background: none;
}
.menu-btn {
    color: #fff;
    font-size: 26px;
    cursor: pointer;
    display: none;
}
section{
    padding: 100px 0;
}
.about, .tecnologias{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
.about .about-content{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
}
.about .title {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    text-align: center;
    font-size: 40px;
    font-weight: 500;
    margin-bottom: 60px;
    padding-bottom: 20px;
    position: relative;
    align-self: centers;
}
.about .title::before{
    content: "";
    position: relative;
    bottom: 0;
    left: 50%;
    width: 180px;
    height: 3px;
    background: black;
    transform: translateX(-50%);
}
.about .title::after{
    /* content: "Quem sou eu";*/
    position: relative;
    bottom: -12px;
    left: 50%;
    font-size: 20px;
    background: #fff;
    color: blue;
    padding: 5px;
    transform: translateX(-50%);
}
.about .about-content .left {
    width: 45%;
}
.about .about-content .right{
    width: 55%;
}
.about .about-content .right .text{
    font-size: 25px;
    font-weight: 500;
    margin-bottom: 10px;
}
.about .about-content .right .text span{
    color: blue;
}
.about .about-content .right p{
    text-align: justify;
}
.about .about-content .right a{
    display: inline-block;
    background: blue;
    color: #fff;
    font-size: 20px;
    font-weight: 500;
    padding: 10px 30px;
    margin-top: 20px;
    border-radius: 6px;
    border: 2px solid blue;
    transition: all 0.3s ease;
}
.about .about-content .right a:hover{
    color: blue;
    background: none;
}
.about .about-content .left img{
    width: 400px;
    height: 400px;
    object-fit: cover;
}

/*TECNOLOGIAS*/
.tecnologias {
    background-color: black;
    color: white;
    display: flex;
}
.tecnologias .title{
    font-size: 40px;
    margin-bottom: 40px;
    text-align: center;
}
.tecnologias .title::before {
    background: #fff;
}
.tecnologias .title::after{
    background: black;
}
.tecnologias .tecno-content {
    display: flex;
    justify-content:space-around;    
}


.tecnologias .tecno-content .card {
    width: calc(33% - 20px);
    background: #222;
    text-align: center;
    border-radius: 6px;
    padding: 20px 25px;
    cursor: pointer;
    transition: all 0.3s ease;
}
.tecnologias .tecno-content .card:hover {
    background: blue;
}
.tecnologias .tecno-content .card .box {
    transition: all 0.3s ease;
}
.tecnologias .tecno-content .card ion-icon{
    font-size: 70px;
    color: blue;
}
.tecnologias .tecno-content .card:hover ion-icon{
    color: white;
}
.tecnologias .tecno-content .card .text{
    font-size: 25px;
    font-weight: 500;
    margin: 10px 0 7px 0;
}
/*PROJETOS*/
.projetos {
    margin: 40px auto;
  max-width: 1200px;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  grid-column-gap: 20px;
  grid-row-gap: 40px;
  justify-content: center;
  padding: 0 20px;
}
.projetos .projeto1 {
    background: yellow;
    padding: 15px 15px 40px;
}
/*PROJETO/POKEMON*/
.container {
    width: 100%;
    max-width: 800px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 2em 0;
  }
  
  .search {
    width: 90%;
    display: flex;
    justify-content: center;
    padding: 1em 0;
  }
  
  
  .search .search-input,
  .search .search-button {
    border: 0;
    padding: 1em;
  }
  
  .search .search-input {
    width: 100%;
  }
  
  .search .search-button {
    background-color: #2b75bb;
    color: #fff;
    cursor: pointer;
  }
  
  .search-button{
    background-color: #2b75bb;
    color: #fff;
    cursor: pointer;
  }
  
  
  .error {
    display: none;
    font-size: 1.5em;
  }
  
  .pokemon {
    width: 90%;
    display: flex;
    flex-direction: column;
    align-items: center;
    /*background-color: #f2f2f2;*/
    background-color: #fff;
    opacity: 1;
    color: white; 
  }
  
  .pokemon .pokemon-picture {
    width: 150px;
    display: flex;
    align-items: center;
    padding: 15px;
    border: 2px solid #FFC312;
    margin-left: 20px;
    margin-right: 20px;
    margin-top: 38px;
    margin-bottom: 38px;
  }
  
  .pokemon .pokemon-picture img {
    width: 100%;
  }
  
  
  .pokemon .pokemon-info {
    width: 100%;
    background-color: #163f5e;
    flex: 2;
  }
  
  .pokemon-info {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    box-sizing: border-box;
    padding: 1em;
  }
  
  
  .pokemon-info .name,
  .pokemon-info .skill,
  .pokemon-info .weight,
  .pokemon-info .height  {
    width: 100%;
    padding: .5em .2em;
    font-size: 1.7em;
  }
  
  .pokemon-info .name {
    font-size: 2.5em;
    text-align: center;
    color: #FFC312; 
    font-weight: bold;
    text-transform: capitalize;
  }
  .pokemon-info .number{
    width: 100%;
    text-align: center;
    font-size: 1em;
    font-weight: bold;
    margin: 0;
    text-transform: capitalize;
  }
  .pokemon-info .skill{
    text-align: justify;
    font-size: 1em;
    margin-top: 20px;
    margin-bottom: 20px;
  }
  .pokemon-info .weight,
  .pokemon-info .height {
    width: 100%;
    text-align: center;
    font-size: 1em;
    font-weight: bold;
  }
  
  .fade {
    animation: fadeEfect 4s;
  }
  
  @media(min-width: 758px) {
    .pokemon { 
      flex-direction: row;  
    }
  }
  
  @keyframes fadeEfect{
    0% {
      opacity: 1;
    }
  
    50% {
      opacity: 0;
    }
  
    100% {
      opacity: 1;
    }
  }
  
  .titulo {
    padding: 5px;
    color: #2b75bb;
    font-size: 25px;
    padding-bottom: 20px;
  }
  
  input[type="date"]{
    position: relative;
    width: 300px;
    height: 60px;
    padding: 20px;
    border: 0;
    background: linear-gradient(45deg,#FFC312);
    border-radius: 10px;
    outline: none;
    font-size: 22px;
    font-weight: 400;
    font-family: 'Pokemon Solid', sans-serif;
    letter-spacing: 3px;  
    color: black;
    text-transform: uppercase;
    box-shadow: 0 4px 20px rgba(3, 44, 41, 0.226);
  }
  
  .botao-descobrir{
    padding: 10px;
    margin-top: 10px;
  }

@media (max-width: 1300px){
    .navbar .max-width{
        margin-left: 0;
    }
}
@media (max-width: 1104px){
    .about .about-content .left img{
        width: 350px;
        height: 350px;
    }
}
@media (max-width: 999px){
    body{
        overflow-x:hidden ;
    }
    /*MENU*/
    .nav-list {
        position: absolute;
        top: 8vh;
        right: 0;
        width: 50vw;
        height: 92vh;
        background: black;
        flex-direction: column;
        align-items: center;
        justify-content: space-around;
        transform: translateX(100%);
        transition: transform 0.3s ease-in;
    }
    .nav-list li {
        margin-left: 0;
        opacity: 0;
    }
    .mobile-menu {
        display: block;
        margin-top: 30px;
    }
}
@media (max-width: 947px){
    .max-width{
        max-width: 800px;
        padding: 0 50px;
    }
    .menu-btn{
        display: block;
        z-index: 999;
    }
    .home .home-content .text-2{
        font-size: 70px;
    }
    .home .home-content .text-3{
        font-size: 35px;
    }
    .home .home-content a {
        font-size: 23px;
        padding: 10px 30px;
    }
    .about .about-content .column{
        width: 50%;
    }
    .about .about-content .left{
        display: flex;
        justify-content: center;
        margin: 0 auto 60px;
    }
    .about .about-content .right {
        flex: 100%;
    }
    .tecnologias .tecno-content .card{
        width: calc(50% - 10px);
        margin-bottom: 20px;
    }
}

@media (max-width: 690px) {
    .home .home-content .text-2{
        font-size: 60px;
    }
    .home .home-content .text-3{
        font-size: 30px;
    }
    .home .home-content a {
        font-size: 20px;
    }
    .tecnologias .tecno-content .card{
        width: 100%;
    }
    .tecnologias .tecno-content {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
}

@media (max-width: 500px) {
    .home .home-content .text-2{
        font-size: 50px;
    }
    .home .home-content .text-3{
        font-size: 25px;
    }
}

@keyframes navLinkFade {
    from {
        opacity: 0;
        transform:  translateX(50px);
    }
    to {
        opacity: 1;
        transform: translateX(0);
    }
}

@keyframes float {
    0%{
        transform: translateY(0px);
    }
    50%{
        transform: translateY(-30px);
    }
    100%{
        transform: translateY(0px);
    }

}