* {
    margin: 0;
    padding: 0;
    box-sizing: 0;
    text-decoration: 0;
}
.max-width{
    max-width: 1300px;
    padding: 0 80px;
    margin: auto;
}
nav
{
    display:flex;
    position: fixed;
    /*Jogar os itens para o canto da página*/
    justify-content: space-around;
    align-items: center;
    min-height: 8vh;
    /*Mudando a cor de fundo do menu*/
    background-color: black;
    /*Fonte do menu*/
    font-family: 'Poppins', sans-serif;
}
.logo{
    /*Mudando a cor da fonte do nome*/
    color: white;
    /*Deixando o texto formatado*/
    /*Mudando o espaçamento das letras*/
    letter-spacing: 5px;
    /*Tamaho da letra*/
    font-size:20px;
}
.logo .logo-cor{
    color: white;
    font-weight: 500;
    
}
.logo .a .span{
    color: red;
}
.nav-links{
    /*Ajustando o tamanho e posição dos itens*/
    display: flex;
    justify-content: space-around;
    width: 30%;

}
.nav-links li{
    /*Sumindo com os pontos que ficavam nos itens*/
    list-style: none;
    margin-left: 15px;

}
.nav-links a{
    /*Mudando a cor dos itens*/
    color: white;
    /*Mudando o espaçamento das letras dos itens*/
    text-decoration: none;
    letter-spacing: 3px;
    font-weight: bold;
    font-size: 14px;
}
.burger{
    /*Não deixando o menu hambuguer visivel */
    display:none;
    /*aparecendo a maozinha quando clica no menu hambuguer*/
    cursor: pointer;
}
.burger div{
    /*Ajeitando o menu Hambuguer*/
    width: 25px;
    height: 3px;
    background-color:white;
    margin:5px;
    transition: all 0.3s ease;
}

/* BOTÃO */
.cta {
    display: flex;
    align-items: center;
    color: white;
    background: none;
    border: none;
    padding: 12px 18px;
    position: relative;
}
.cta:before{
    content: "";
    position: absolute;
    top: 50%;
    transform: translateY(-50%) translateX(calc(100% + 4px));
    width: 45px;
    height: 45px;
    background: blue;
    border-radius: 50px;
    transition: transform .25s .25s cubic-bezier(0,0,.5,2), width .25s cubic-bezier(0,0,.5,2);
    z-index: -1;
}
.cta:hover::before{
    width: 100%;
    transform: translateY(-50%) translateX(-18px);
    transition: transform .25s cubic-bezier(0,0,.5,2), width .25s .25s cubic-bezier(0,0,.5,2);
}
.cta i {
    margin-left: 5px;
    transition:  transform .25s .4s cubic-bezier(0,0,.5,2);
}
.cta:hover i {
    transform: translateX(3px);
}
/*Ajustando a altura*/
@media screen and (max-width:1024px){
    .nav-links{
        width: 60%;
        color:white;
    }
}
/*Ajustando a altura minima*/
@media screen and (max-width:768px){
    body{
       overflow-x: hidden;
    }
    /*ajustando os itens para se adequar a altura min.*/
    .nav-links{
        position: absolute;
        right: 0px;
        height: 92vh;
        top:8vh;
        /*Arrumando o menu hambuguer*/
        background-color: rgb(40, 113, 122);
        display:flex;
        flex-direction: column;
        align-items: center;
        width: 50%;
        /*Ajeitando a transição parar abrir o menu hambuguer*/
        transform: translateX(100%);
        transition: transform 0.5s ease-in;
    }
    .nav-links li{
        opacity: 1;
    }
    .nav-links a{
        /*Mudando a cor dos itens*/
        color: white;
        /*Mudando o espaçamento das letras dos itens*/
        text-decoration: none;
        letter-spacing: 3px;
        font-weight: bold;
        font-size: 14px;
    }
    .burger{
        /*para aparecer o menu hambuguer quando a tela tiver pequena*/
        display: block;
    }
}
/*Quando se clica no menu hambuguer, consegue abrir os itens*/
.nav-active{
    transform: translateX(0%);
}
/*Animações quando se clica no menu hamburguer*/
@keyframes navLinkFade{
    from{
        opacity: 0;
        transform: translateX(50px);
    }
    to{
        opacity: 1;
        transform: translateX(0px);
    }
}
/*Transformando o menu em X*/
.toggle .line1{
    transform: rotate(-45deg) translate(-5px, 6px);
}
.toggle .line2{
    opacity: 0;
    
}
.toggle .line3{
    transform: rotate(45deg) translate(-5px, -6px);
}

/*
.navbar {
    position: fixed;
    width: 100%;
    padding: 15px 0;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    z-index: 999;
    transition: all 0.3s ease;
    background: black;
}
.navbar .sticky {
    background: blue;
    padding: 15px 0;
}
.navbar .max-width {
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.navbar .logo a {
    color: #fff;
    font-size: 35px;
    font-weight: 500;
}
.navbar .logo a span {
    color: cadetblue;
}
.navbar .menu li {
    list-style: none;
    display: inline-block;
}
.navbar .menu li a{
    color: #fff;
    font-size: 18px;
    font-weight: 500;
    margin-left: 25px;
    transition: color 0.3s ease;
}
.navbar .menu li a:hover{
    color: rgb(113, 113, 249);
}
*/
.home{
    display: flex;
    background: url() no-repeat center;
    height: 100vh;
    min-height: 500px;
    font-family: 'Courier New', Courier, monospace;
    background: black;
}
.home .max-width{
    margin: auto 0 auto 40px;
}
.home .home-content .text-1{
    font-size: 27px;
    color: white;
}
.home .home-content .text-2{
    font-size: 75px;
    font-weight: 500;
    margin-left: -3px;
    color: white;
}
.home .home-content .text-3{
    font-size: 40px;
    margin: 5px 0;
    color: white;
}
.home .home-content .text-3 span {
    color: blue;
    font-weight: 500;
}
.home .home-content a {
    display: inline;
    background: blue;
    color: #fff;
    font-size: 25px;
    padding: 12px 36px;
    margin-top: 20px;
    border-radius: 6px;
    border: 2px solid blue;
}
.home .home-content a:hover{
    color: blue;
    background: none;
}
.menu-btn {
    color: #fff;
    font-size: 26px;
    cursor: pointer;
    display: none;
}

section{
    padding: 100px 0;
}
.about, .tecnologias{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
.about .about-content{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
}
.about .title {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    text-align: center;
    font-size: 40px;
    font-weight: 500;
    margin-bottom: 60px;
    padding-bottom: 20px;
    position: relative;
}
.about .title::before{
    content: "";
    position: relative;
    bottom: 0;
    left: 50%;
    width: 180px;
    height: 3px;
    background: black;
    transform: translateX(-50%);
}
.about .title::after{
    /* content: "Quem sou eu";*/
    position: relative;
    bottom: -12px;
    left: 50%;
    font-size: 20px;
    background: #fff;
    color: blue;
    padding: 5px;
    transform: translateX(-50%);
}
.about .about-content .left {
    width: 45%;
}
.about .about-content .right{
    width: 55%;
}
.about .about-content .right .text{
    font-size: 25px;
    font-weight: 500;
    margin-bottom: 10px;
}
.about .about-content .right .text span{
    color: blue;
}
.about .about-content .right p{
    text-align: justify;
}
.about .about-content .right a{
    display: inline-block;
    background: blue;
    color: #fff;
    font-size: 20px;
    font-weight: 500;
    padding: 10px 30px;
    margin-top: 20px;
    border-radius: 6px;
    border: 2px solid blue;
    transition: all 0.3s ease;
}
.about .about-content .right a:hover{
    color: blue;
    background: none;
}
.about .about-content .left img{
    width: 400px;
    height: 400px;
    object-fit: cover;
}
@media (max-width: 1300px){
    .navbar .max-width{
        margin-left: 0;
    }
}
@media (max-width: 1104px){
    .about .about-content .left img{
        width: 350px;
        height: 350px;
    }
}
@media (max-width: 991px){
    .navbar .max-width{
        padding: 0 50px;
    }
}
@media (max-width: 947px){
    .max-width{
        max-width: 800px;
        padding: 0 50px;
    }
    .menu-btn{
        display: block;
        z-index: 999;
    }
    /*
    .navbar .menu{
        position: fixed;
        width: 100%;
        height: 100vh;
        left: 0;
        top: 0;
        background: #111;
        padding-top: 80px;
        text-align: center;
    }
    .navbar .menu li{
        display: block;
    }
    .navbar .menu li a {
        display: inline-block;
        margin: 20px 0;
        font-size: 25px;
    }
    */
    .home .home-content .text-2{
        font-size: 70px;
    }
    .home .home-content .text-3{
        font-size: 35px;
    }
    .home .home-content a {
        font-size: 23px;
        padding: 10px 30px;
    }
    .about .about-content .column{
        width: 50%;
    }
    .about .about-content .left{
        display: flex;
        justify-content: center;
        margin: 0 auto 60px;
    }
    .about .about-content .right {
        flex: 100%;
    }
}

@media (max-width: 690px) {
    .home .home-content .text-2{
        font-size: 60px;
    }
    .home .home-content .text-3{
        font-size: 30px;
    }
    .home .home-content a {
        font-size: 20px;
    }
}

@media (max-width: 500px) {
    .home .home-content .text-2{
        font-size: 50px;
    }
    .home .home-content .text-3{
        font-size: 25px;
    }
}